body {
    background-color: #f1f1f1!important;
}


.header {

width: 1368px;
height: 116px;
background-color: #f1f1f1;
padding: 32px 16px;
box-sizing: inherit;
position: absolute;
left: 60px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.5;
}

.header-paragraph {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    font-family: Raleway;
}

.blog-tag {
    background-color: black;
    color: white;
    letter-spacing: 1px;
}

.all-content {
    width: 1400px;
    height: 1176px;
    background-color: #f1f1f1;
    position: absolute;
    left: 60px;
    top: 200px;
}

.two-content {
    width: 933px;
    height: 1150px;
    background-color: #f1f1f1;
    box-sizing: inherit;
    margin: 16px 16px;
}

.first-blog {
    width: 933px;
    height: 551px;
    box-sizing: inherit;
    margin: 16px 16px;
    background-color: #fff;
    position: relative;
    right: 16px;
}

.nature {
    width: 933px;
    height: 283px;
 
}


.head-container {

    width: 901px;
    height: 92px;
    background-color:#fff; 
   padding: 0.150px 16px;
   
}

h2 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    color: black;
}

h3 {
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.5;
    color: black;
    position: relative;
    bottom: 20px;
    font-weight: initial;
}

.for-opacity {
    opacity: 0.60;
}

.paragraph-container {
    width: 901px;
    height: 70px;
    background-color: #fff;
    box-sizing: initial;
    margin: 15px 15px;
}

.blog-paragraph1 {
    font-weight: initial;
    font-family: Raleway;
    color: black;
}

.for-user {
    width: 901px;
    height: 70px;
    background-color:#fff;
    box-sizing: initial;
    margin: 15px 15px;
}

.button {
    font-family: Raleway;
    color: black;
    font-size: inherit;
    background-color: #fff;
    padding: 12px 24px;
    border: 1px 1px;
    border-color: black;
    cursor: pointer;
    float: left ;
    transition: 0.4s linear;
    font-weight: 600;
}

.button:hover {
  background-color: #C8C8C8;
}

.j {
    font-family: Raleway;
    color: black;
    float: right;
    font-weight: 600;
}

.circle {
    background-color: black;
    color: white;
    border-radius: 10px 10px;
}

.bridge {
    width: 933px;
    height: 283px;
    position: relative;
    top: 30px;
    
}

.head-container2 {
    width: 901px;
    height: 92px;
    background-color:#fff; 
   padding: 0.150px 16px;
   position: relative;
   top:30px;
}

.paragraph-container2 {
    width: 901px;
    height: 175px;
    background-color: #fff;
    padding: 0.150px 16px;
    position: relative;
    top:30px;
    }

 .for-user2 {
     width: 901px;
     height: 70px;
     background-color: #fff;
 }   

 .three-content {
     width: 420px;
     height: 1125px;
     background-color: #f1f1f1;
     position: relative;
     float: right;
     bottom: 1168px;
 }

 .avatar {
     width: 420px;
     height: 270px;
 }

 .words-container {
     width: 420px;
     height: 119px;
     background-color: #fff;
     position: relative;
     bottom: 31px;
     }

.head-container3 {
    width: 420px;
    height: 29px;
    margin: 10px 10px;
     background-color: #fff;
     position: relative;
     right: 10px;
     bottom: 31px;
}

.blog-paragraph2 {
    font-weight: initial;
    font-family: Raleway;
    color: black;
    position: relative;
    bottom: 30px;
    left: 5px;
}

h4 {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    color: black;
    position: relative;
    left: 5px;
}

.words-container2 {
    width: 420px;
    height: 391px;
    margin: 16px 16px;
    background-color: red;
    position: relative;
    right: 16px;
    }

    .popular-posts {
        width: 388px;
        height: 49px;
        background-color: #E0E0E0;
        padding: 8px 16px;
    }

    h5 {
        font-family: Raleway;
        font-weight: bold;
        font-size: 24px;
        color: black;
        position: relative;
        left: -13px;
         bottom:30px;
        
    } 

    .jl {
        width: 380px;
        height: 326px;
        background-color:green;
        position: relative;
        bottom: 16px;
    }

    .image-word {
        width: 386px;
        height: 50px;
        list-style-type: none;
        background-color: white;
        padding: 16px 16px;
        border: 1px solid grey;
        position: relative;
        left: -40px;
        transition: 0.4s linear;
        cursor: pointer;

    }

    .image-word:hover {
        background-color: #C8C8C8;
    }

    .blog-image {
        width: 50px;
        height: 50px;
    }

    .heading {
        font-size: 18px;
        font-family: Raleway;
        color: black;
    }

    .pr {
        font-size: 18px;
        font-family: Raleway;
        color: black;
        position: relative;
        bottom: 30px;
        left: 10px;
    }

    .pc {
        font-size: 14px;
        font-family: Raleway;
        color: black;
        position: relative;
        bottom: 10px;
        left: -50px;
    }

    .pt {
        font-size: 14px;
        font-family: Raleway;
        color: black;
        position: relative;
        bottom: 10px;
        left: -46px;
    }

    .pz {
        font-size: 14px;
        font-family: Raleway;
        color: black;
        position: relative;
        bottom: 10px;
        left: -70px;
    }

    .tags {
        width: 420px;
        height: 209px;
        margin: 16px 16px;
        background-color: green;
        position: relative;
        right: 16px;
        bottom: 7px;
    }

   .tags-3 {
    width: 388px;
    height: 49px;
    padding: 8px 16px;
    background-color: #E0E0E0	;
   }

   h6 {
       font-family: Raleway;
       font-weight: bold;
        font-size: 24px;
        color: black;
       position: relative;
       left: -13px;
       bottom:40px;
   }

   .tags-4 {
    width: 388px;
    height: 144px;
    padding: 0.150px 16px;
    background-color: white;
   }

   .tags-5 {
       font-size: 15px;
       color: white;
       background-color: black;

   }

   .tags-6 {
       font-size: 12px;
       background-color: #C8C8C8;
       color: black;
   }

   .footers {
       width: 1352px;
       height: 114.800px;
       padding: 32px 16px;
       margin-top: 16px;
       background-color: #696969;
       position: relative;
      top: 1400px;
      left: 68px;
   }


   .footer-button1 {
       font-family: Raleway;
       font-size: 15px;
       color:white;
       background-color: #808080;
       padding: 12px 24px;
       cursor: no-drop;
   }

   .footer-button2 {
    font-family: Raleway;
    font-size: 15px;
    color:white;
    background-color: black;
    padding: 12px 24px;
    cursor: pointer;
}


.footer-button2:hover {
    background-color: #A9A9A9;
}

.footer-link {
    text-decoration-line: none;
    color: white;
    font-family: Raleway;
    font-size: 15px;
}

.footer-paragraph {
    color: white;
    font-family: Raleway;
    font-size: 15px;
}